body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Rajdhani', sans-serif;
  }
  

  /* Estilos para a página Missão, Visão e Valores */

  .mission-vision-values {
    max-width: 1200px;
    margin: 50px auto;
    display: flow-root;
    justify-content: center;
    align-items: center;
    text-align: left;
  }
  
  .section-title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 35px;
    color: #11122e;
    font-weight: 500;
    margin-bottom: 10px;
  }
  
 
  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .image {
    flex: 1;
    margin: 0 20px 0 0;
  }
  
  .image img {
    max-width: 100%;
    height: auto;
    margin-bottom: 80px;
  }
  
  .text {
    flex: 2;
  }
  
  .topic {
    margin-bottom: 40px;
  }
  
  .topic h3 {
    font-size: 24px;
    color: #11122e;
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  .topic p {
    font-size: 18px;
    line-height: 1.5;
    color: #555;
    text-align: justify;
  }
  
  /* Outros estilos específicos da página */
  
  